* {
    padding: 0;
    margin: 0;
    font-size: 20px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    /* background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143)); */
    background: url('../img/cloud_img.jpg') no-repeat center center fixed;
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;  */
    background-size: cover;
}

.container {
    color: #4F5D73;
    background-color: #fff;
    padding: 0 10px;
    margin: 20px;
    border-radius: 10px;
}

/* =====HEADER===== */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    user-select: none   ;
}

.header_inscription {
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 36px;
    padding: 5px 15px;
    border-radius: 25px;
    color: #e0995e;
    background-color: #4F5D73;   
}

.header_icon {
    height: 80px;
    width: 80px;
}

/* ==========MAIN========= */
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    user-select: none;
}

.timezone {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
}

.timezone_inscription {
    font-size: 24px;
    font-family: 'Open sans';
}

.timezone_input-field {
    width: 250px;
    color: #4F5D73;
    background-color: #E6E6FF;
    border: 1px solid #4F5D73;
    padding: 5px;
    border-radius: 6px;
}

.forecast-type {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #4F5D73;
    padding: 10px 0;
    margin: 0 0 10px 0;
}

.forecast-type_inscription {
    font-family: 'Open sans';
    font-size: 24px;
}

.forecast-type_button {
    display: inline-block;
}

.forecast-type_dayly [type="radio"], .forecast-type_weekly [type=radio]{
    display: none;
}

.forecast-type_dayly, .forecast-type_weekly{
    display: inline-block;
	padding: 5px 15px;    
    background-color: #E6E6FF;
	border: 1px solid #4F5D73;
	border-right: none;
	cursor: pointer; 
}

.forecast-type_dayly {
    border-radius: 6px 0 0 6px;
    transition: all 0.2s;
}
.forecast-type_dayly:hover {
    color: #fff;
    background-color: #4F5D73;
}

.forecast-type_weekly {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #4F5D73;
    transition: all 0.2s;
}
.forecast-type_weekly:hover {
    color: #fff;
    background-color: #4F5D73;
}

.btn {
    display: inline-block;
    justify-content: center;
    padding: 10px 20px;
    color: #fff;
    background-color: #4F5D73;
    border-radius: 3px;
    cursor: pointer;

    transition: all 0.3s linear;
}
.btn:hover {
    background-color: #8391A7;
}

.weather {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 15px 0; */
    border-radius: 5px;
    background-color: #4F5D73;
}

.weather_row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.weather_item {
    width: 95px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #4F5D73;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.weather_temperature {
    font-size: 16px;
}

.weather_icon {
    height: 60px;
    width: 60px;
}

.weather_image {
    font-size: 60px;
    text-decoration: none;
    color: #4F5D73;
}


/* =====FOOTER===== */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0;
}

.contacts_icons {
    width: 150px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.contacts_author {
    font-size: 16px;
}

.icon {
    font-size: 28px;
    text-decoration: none;
    color: #4F5D73;
    transition: all 0.2s linear;
}
.icon:hover {
    color: #8391A7;
}

